<!-- <h1>Home</h1>
{{title}}
<img src="assets/designpattern.jpg" width="100%"  height="100%"/>

<h1>For loop</h1>
<div *ngFor="let index of i">
{{index}}
</div>

<h1>Two way binding</h1>
<!--<input type="text" [(ngModel)]="userName" (keydown)="onkeyDown()">-->
<input type="text" [(ngModel)]="userName" (click)="onkeyDown()">
{{userName}}
<br>
{{revString}}

<H1>Addition</H1>
No1 : <input type="number" [(ngModel)]="num1"><br>
No2 : <input type="number" [(ngModel)]="num2"><br>
<button (click)="addition()">Sum</button>
Result:{{ans}}
<h1>one way data binding</h1>
title
{{title}}
<h1>Structural Directive</h1>
<h1>
    <button (click)="toggleOn =!toggleOn">Toggle Greetings</button>
  </h1>
  <div *ngIf="!toggleOn; else elseBlock">
  <h2>Hello</h2>
  <p>Good morning to you</p>
  </div>
  <ng-template #elseBlock>No greeting, Lagbaja nothing for you.</ng-template>
  <hr>
  <p>Today is Friday and this is a dummy text element to make you feel better</p>
  <p>Understanding the ngIf directive with the else clause</p>
<h1>Switch </h1>
<h1>Hey! Good Morning </h1>
<div [ngSwitch] = "day">
<div *ngSwitchCase = 0>Today is Sunday! You deserve a break</div>
<div *ngSwitchCase = '1'><h3>Today is Monday, Hope you have productive Week</h3></div>
<div *ngSwitchCase = '2'><h3>Today is Tuesday, Smash your Goals</h3></div>
<div *ngSwitchCase = '3'><h3>Today is Wednesday, You're already half way through</h3></div>
<div *ngSwitchCase = '4'><h3>Today is Thursday, It's like Friday Lite</h3></div>
<div *ngSwitchCase = '5'><h3>Today is Friday, TGIF!!!</h3></div>
<div *ngSwitchCase = '6'><h3>Today is Saturday, Let's Party!! :) </h3></div>
<div *ngSwitchDefault>Uh oh! Somethings wrong</div>
</div>

<div class='card'>
    <div class='card-header'>
      ngSwitch Example
    </div>
    <div class="card-body">
      Input string : <input type='text' [(ngModel)]="num" />
   
      <div [ngSwitch]="num">
        <div *ngSwitchCase="'1'">One</div>
        <div *ngSwitchCase="'2'">Two</div>
        <div *ngSwitchCase="'3'">Three</div>
        <div *ngSwitchCase="'4'">Four</div>
        <div *ngSwitchCase="'5'">Five</div>
        <div *ngSwitchDefault>This is Default</div>
      </div>
    </div>
  </div>
 -->
