<div class="main">
  <div class="header">
    <div (click)="openPage('home')">Home</div>
    <div  (click)="openPage('about')">About</div>
    <div (click)="openPage('course')">Course</div>
    <div (click)="openPage('contact')">Contact</div>
    <div (click)="openPage('inlintemp')">InlineTemplate</div>
    <div (click)="openPage('templated')">Template Form</div>
    <div (click)="openPage('login')">Login</div>
  </div>
  <router-outlet></router-outlet>
</div>
<br><br>
{{title}}
<h1>title</h1>


<!--<div>
  <div style = "text-align:center"> <h1>Welcome to {{title}}.</h1>
  </div>
  <div> Months :
  <select (change) = "changemonths($event)" name = "month">
  <option *ngFor = "let i of months">{{i}}</option> </select>
  </div> <br/>
  <div>
  <span *ngIf = "isavailable;then condition1 else condition2"> Condition is valid.
  </span>
  <ng-template #condition1>Condition is valid from template</ng-template> 
  <ng-template #condition2>Condition is invalid from template</ng-template>
  </div>
  <button (click) = "myClickFunction($event)">Click Me</button>
</div>-->